body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

.row {
  display: flex;
}

.section {
  box-sizing: border-box;
  width: 33.33%;
  padding: 20px; /* Add your desired padding value */
  border: 1px solid black;
  background-color: silver;
  position: relative; 
  margin: 10px;/* Add relative positioning for absolute positioning of section-title */
}

.section-title {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  background-color: rgb(200, 186, 98);
  padding: 5px;
  border: 1px solid black;
}
.section-title1 {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  background-color: #f00;
  padding: 5px;
  border: 1px solid black;
  color: aliceblue;
}
.section-title2 {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  background-color: rgb(232, 225, 94);
  padding: 5px;
  border: 1px solid black;
}

/* Tablet View */
@media only screen and (max-width: 991px) {
  .row {
    flex-wrap: wrap;
  }

  .section {
    width: 47%; 
    margin: 10px;
  }

  #section3 {
    width: 100%;
    margin: 10px; /* Full width in the second row */
  }
}

/* Mobile View */
@media only screen and (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }

  .section {
    width: 100%; 
    margin: 10px;
  }
}
